
main h3 {
  font-size: 35px;
}
main .Personuppgifter,
.days,
.food {
  background-color: white;
  margin: 30px;
  color: rgb(66, 63, 63);
  border: 4px solid gray;
  padding: 10px;
}
main .Personuppgifter,
.days,
.food {
  font-weight: bold;
}
main h4 {
  color: rgb(146, 40, 102);
  font-size: 23px;
  font-weight: bold;
  margin-top: 0;
}
main .Personuppgifter div {
  display: flex;
  flex-direction: column;
}
main .Personuppgifter input {
  width: 50%;
  height: 30px;
  margin-bottom: 20px;
}
main .Personuppgifter input:invalid {
  border: 1px solid red;
 
}
main .Personuppgifter input:required:valid{
    border: 1px solid green;
  }
main .Personuppgifter label {
  margin-bottom: 20px;
}
main .days div {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
main .days .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .food div {
  margin: 30px;
}
main .food .food-allergy input {
  width: 50%;
  height: 30px;
}
main .send {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
main .send button {
  padding: 20px;
  cursor: pointer;
  background-color: gray;
  border: none;
  border-radius: 10%;
  color: white;
  text-decoration: none;
  box-shadow: 1em 1em 2em gray;
  border: 2px solid rgb(74, 69, 69);
  transition: all 2s;
}
main .send button:hover {
  background-color: rgb(60, 60, 60);
  font-weight: bold;
  transform: scale(1.01);
}



@media screen and (max-width: 760px) {
  
  main .Personuppgifter input {
    width: 70%;
  }
  #allergy {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  main .Personuppgifter,
  .days,
  .food {
    margin: 10px;
    padding: 5pz;
  }
  main .Personuppgifter input {
    width: 80%;
  }
  #allergy {
    width: 80%;
    height: 70px;
    margin-top: 10px;
  }
}
